
body	{ font-family: sans-serif; color: brown; }
h1{ font-family: 'Georgia'; color : purple }
form {position:fixed;left:350px;top:300px}
h2{font-family: 'Georgia'; color : red ;position:absolute;left:350px;top:310px }
